
<div class ="entityContainer">
    <article class="pieceContainer" id="container-<%= entityIndex %>">
            <div class="pieceName">
                <%= piece.name %>
            </div>
            <div class="pieceBody" id="pieceBodyContainer-<%= entityIndex %>">
                <% piece.body.map((row, rowIndex) => { %>
                    <div class="pieceRow noAnimation" id="piece<%= entityIndex%>Row<%= rowIndex %>">
                        <pre><%= row %></pre>
                    </div>
                <% }); %>
            </div>
    </article>
    <div class="pieceModifiers">
        <select class= "animationSelector" id="animationSelector-<%= entityIndex %>"></select>
    </div>
</div>